/* GLOBAL VARIABLES */
/* IMPORTS */
.login-wrapper {
  display: inline-block;
  width: 250px;
  height: auto;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  margin-left: 55px; }
  .login-wrapper h3 {
    margin: 0; }

.dog-list {
  position: relative;
  padding: 5px;
  overflow: hidden; }
  .dog-list ul {
    overflow: hidden;
    padding-left: 0; }
  .dog-list li {
    margin-bottom: 10px; }
  .dog-list .col-md-3:nth-child(4n+1) {
    clear: left; }
  .dog-list li span {
    display: block; }
  .dog-list .breed, .dog-list .state {
    text-align: left; }
  .dog-list button {
    width: 100%;
    background: #16a085;
    color: white;
    border-radius: 0px;
    margin-top: 5px;
    margin-bottom: 5px; }

.new-dog-btn {
  margin-bottom: 10px;
  background: none;
  border: none;
  color: #295FA5;
  padding: 20px; }

.dog-list-info {
  background: rgba(41, 182, 100, 0.3);
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3); }

body {
  font-size: 16px;
  line-height: 1.375em;
  max-width: 1080px;
  margin: 0 auto;
  background: whitesmoke; }

.btn {
  background: #16a085; }

.main {
  padding: 0.7em 0.7em;
  background: white;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3); }

h1 {
  font-size: 3em;
  line-height: 1.05em; }

h2 {
  font-size: 2.25em;
  line-height: 1.25em; }

h3 {
  font-size: 1.75em;
  line-height: 1.25em; }

h4 {
  font-size: 1.125em;
  line-height: 1.222222222em; }

@media (max-width: 760px) {
  h1 {
    font-size: 2.5em;
    line-height: 1.125em; }

  h2 {
    font-size: 2em; }

  h3 {
    font-size: 1.5em;
    line-height: 1.25em; }

  h4 {
    font-size: 1.125em;
    line-height: 1.222222222em; } }
@media (max-width: 500px) {
  body {
    line-height: 1.25em; }

  h1 {
    font-size: 2em;
    line-height: 1.25em; }

  h2 {
    font-size: 1.625em;
    line-height: 1.15384615em; }

  h3 {
    font-size: 1.375em;
    line-height: 1.1363634em; }

  h4 {
    font-size: 1.125em;
    line-height: 1.111111em; } }
li {
  list-style-type: none; }

.dog-thumbnail {
  max-height: 100px;
  background: whitesmoke;
  max-width: 100px;
  max-width: auto; }

.main-header {
  width: 100%;
  height: 550px;
  background: url("../images/header-img.png");
  box-shadow: 0 4px 6px rgba(100, 100, 100, 0.3); }

.nav-main {
  padding-top: 200px;
  padding-left: 55px; }
  .nav-main li {
    display: inline-block;
    background: white; }
    .nav-main li a {
      color: black;
      background: white;
      border-color: white; }

.snapshot-potential-dogs li, .snapshot-rescue-dogs li {
  display: inline-block;
  padding: 0 5px; }

.snapshot-potential-dogs, .snapshot-rescue-dogs, .snapshot-dog-numbers {
  background: rgba(41, 182, 100, 0.3);
  overflow: hidden;
  height: 220px; }

.snapshot-rescue-dogs {
  margin: 15px; }

.prev {
  text-align: right; }

.next {
  text-align: left; }

.snapshot-contact, .snapshot-support {
  background: rgba(41, 182, 100, 0.3);
  height: 200px;
  overflow: hidden;
  margin-bottom: 20px; }
