/* GLOBAL VARIABLES */
/* IMPORTS */
.shelter-dog-img {
  height: 100px;
  max-width: 100px; }

.dog-details-thumb {
  max-height: 100px;
  background: whitesmoke;
  max-width: 100px;
  max-width: auto; }
