<h2>{{showShelter.shelterDog.animalName}}'s Details</h2>
<ul>
  <li>{{showShelter.shelterDog.animalThumbnailUrl}}</li>
  <li>{{showShelter.shelterDog.animalBreed}}</li>
  <li>{{showShelter.shelterDog.animalSex}}</li>
  <li>{{showShelter.shelterDog.animalKillDate}}</li>
  <li>{{showShelter.shelterDog.shelterCity}}</li>
  <li>{{showShelter.shelterDog.shelterState}}</li>
  <li>{{showShelter.shelterDog.shelterName}}</li>
  <li>{{showShelter.shelterDog.shelterEmail}}</li>
  <li>{{showShelter.shelterDog.shelterPhone}}</li>
  <li>{{showShelter.shelterDog.shelterWebsite}}</li>
  <li>{{showShelter.shelterDog.Address}}</li>
  <li>{{showShelter.shelterDog.animal}}</li>
  <li>{{showShelter.shelterDog.animal}}</li>
</ul>
