<h1>{{details.header}}</h1>
<form name="details-form" ng-submit="details.addDetails()" novalidate>
<div class="form-group" ng-show="details.registration">
  <label>Email</label>
  <input class="form-control" type="email" ng-model="details.user.email" required>
</div>
<div class="form-group" ng-show="details.registration">
  <label>Username</label>
  <input class="form-control" type="input" ng-model="details.user.userName" required>
</div>

<div class="form-group" ng-show="details.registration">
  <label>Password</label> 
  <input class="form-control" type="password" ng-model="details.user.password" required>
</div>
<section>
  <h2>About Your Rescue...</h2>
<div class="form-group">
  <label>Rescue Organization</label>
  <input class="form-control" type="text" ng-model="details.user.org" required>
</div>
  <label class="form-group">Summary of Rescue Group</label>
    <textarea class="form-control" ng-model="details.user.summary"></textarea>
  </div>
  <div class="form-group">
    <label>City</label>
    <input class="form-control" type="text" ng-model="details.user.city" required>
  </div>
 <div class="form-group">
    <label>State</label>
    <input class="form-control" type="text" ng-model="details.user.state" required>
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input class="form-control" type="text" ng-model="details.user.phone" required>
  </div>
  <div class="form-group">
    <label>Website</label>
    <input class="form-control" type="text" ng-model="details.user.website" required>
  </div>
  <div class="form-group">
    <label>Link To Donations Page</label>
    <input class="form-control" type="link" ng-model="details.user.donations" required>
  </div>
</section>
<input type="submit" class="btn btn-primary btn-block" value="{{details.header}}">
</form>
