.dog-list{
  position: relative;
  padding: 5px;
  overflow:hidden;

  .dog-img-wrapper {
    height: auto;
    width: auto;
    margin: 0 auto;
    height: 100px;
    margin-top: 5px;
    img{
      border: 3px solid $primary-button-color;
    }
  }

  ul{
    overflow: hidden;
    padding-left: 0;
  }

  li{
    margin-bottom: 10px;
  }

  .col-md-3:nth-child(4n+1){
    clear:left;
  }

  li span{
    display: block;
  }

  .breed, .state{
    text-align:left;
  }

  button {
    width: 100%;
    background: $primary-button-color;
    color: white;
    border-radius: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.new-dog-btn {
  margin-bottom: 10px;
  background: none;
  border: none;
  color: #295FA5;
  padding: 20px;
}

.dog-list-info {
  background:$block-color;
  padding: 5px;
  text-align:center;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}

