.dog-details-wrapper {
  .dog-details-thumb {
    padding: 0 15px;
    max-height: 150px;
    max-width: 100%;
    margin-top: -100px;
  }

  h2 {
    text-align: center;
  }
}

.dog-details-header {
  margin-bottom: 20px;
  position: relative;

  .dog-details-header-left {
    display:inline-block;

    ul {
      margin-top:50px;
    }

    li {
      display: inline-block;
    }

    .next, .prev {
      width: 70px;
    }
  }

  .dog-details-img-main {
    position: relative;
    max-height: 350px;
    max-width: 100%;
    padding: 0 15px;
    top: 0;
  }
}

.dog-details-summary, .dog-details-main, .dog-details-shelter, .dog-details-foster, .dog-details-extra,.dog-details-description {
  background: $block-color;
  overflow:hidden;
  margin-bottom: 20px;
  min-height: 200px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);

  .dog-details-description {
    p,div,span {
      margin-bottom: 5px;
      text-align: left !important;
    }
  }

  li, p{
    margin-left: 5px;
    padding-start: 0;
  }

  li span {
    font-weight: 700;
  }
}

.dog-details-header{
  span{
    display: inline-block;
  }
}
