.main-header{
  width: 100%;
  height: 550px;
  background: url('../images/header-img.png');
  box-shadow: 0 4px 6px rgba(100, 100, 100, 0.3);
}

.nav-main {
  padding-top: 200px;
  padding-left: 55px;
  li{
    display: inline-block;
    background: white;

    a{
      color:black;
      background: white;
      border-color: white;
    }

    a:hover,a:active,a:link{
      border-radius: none;
    }
  }
}




