.snapshot-potential-dogs, .snapshot-rescue-dogs{
  li{
    display: inline-block;
    padding: 0 5px;
  }
}

.snapshot-potential-dogs, .snapshot-rescue-dogs, .snapshot-dog-numbers {
  background: $block-color;
  overflow: hidden;
  height: 220px;
  padding: 0 10px;
}

.snapshot-dog-numbers span{
  color: #e67e22;
  padding-top: 5px;
  margin-left: 30px;
}

.snapshot-potential-dogs {
  text-align: center;
}

.modal-dog-img{
  text-align: center;
  margin: 0 auto;
}

.modal-dog-img img{
  max-width: 700px;
  padding: 40px;
}

.snapshot-rescue-dogs {
  margin: 15px;
  text-align: center;

  h3 {
    span {
       color: #e67e22;
    }
  }
}

.prev{
  text-align: right;  background-image: url('../images/left-arrow.svg'),none;
}

.next{
  text-align: left;  background-image: url('../images/right-arrow.svg'),none;
}

.next, .prev {
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: auto;
}

.snapshot-contact, .snapshot-support {
  background: $block-color;
  height: 200px;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 0 10px;

  ul {
    padding-left: 10px;
  }
}

.snapshot-support {
  margin: 0 auto;
  text-align: center;
}
