/* GLOBAL VARIABLES */
  $thumbnail-height: 100px;
  $thumbnail-bg: whitesmoke;
  $site-padding-height: 0.7em;
  $site-padding-width: 0.7em;
  $block-color: rgba(41,182,100,0.3);
/* IMPORTS */
@import 'dog-details';
@import 'auth';
@import 'dog-list';
@import 'dog-details-form';
@import 'landing';
@import 'layout';
@import 'header';
@import 'snapshot';
