<div class="dog-details-wrapper">
  <section class="dog-details-header row">
    <span><img class="dog-details-thumb" ng-src="{{dogDetails.dog.animalThumbnailUrl || 'images/default-dog.png'}}" /></li></span>
    <span><h1>{{dogDetails.dog.animalName || 'N/A'}}'s Details</h1></span>
  </section>
  <section class="row">
    <div class="col-md-6">
      <div class="dog-details-main">
        <h3>Dog Details</h3>
        <ul>
          <li><span>Breed: </span>{{dogDetails.dog.animalBreed || 'N/A'}}</li>
          <li><span>Sex: </span>{{dogDetails.dog.animalSex || 'N/A'}}</li>
          <li><span>Age: </span>{{dogDetails.dog.animalGeneralAge || 'N/A'}}</li>
          <li><span>Spayed: </span>{{dogDetails.dog.animalAltered || 'N/A'}}</li>
          <li><span>Up To Date on Shots: </span>{{dogDetails.dog.animalUptodate || 'N/A'}}</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="dog-details-summary">
        <h3>Dog Summary</h3>
        <p>{{dogDetails.dog.animalSummary || 'N/A'}}</p>
      </div>
    </div>
  </section>
  <section class="row">
    <div  ng-show="dogDetails.shelter" class="col-md-6">
      <div class="dog-details-shelter">
        <h3>Shelter Info</h3>
        <ul>
          <li><span>Kill Date: </span>{{dogDetails.dog.animalKillDate || 'N/A'}}</li>
          <li><span>Shelter City: </span>{{dogDetails.dog.shelterCity || 'N/A'}}</li>
          <li><span>Shelter State: </span>{{dogDetails.dog.shelterState || 'N/A'}}</li>
          <li><span>Shelter Name: </span>{{dogDetails.dog.shelterName || 'N/A'}}</li>
          <li><span>Shelter Email: </span>{{dogDetails.dog.shelterEmail || 'N/A'}}</li>
          <li><span>Shelter Phone: </span>{{dogDetails.dog.shelterPhone || 'N/A'}}</li>
          <li><span>Shelter Website: </span>{{dogDetails.dog.shelterWebsite || 'N/A'}}</li>
        </ul>
      </div>
    </div>
    <div ng-show="dogDetails.foster" class="col-md-6">
      <div class="dog-details-foster">
        <h3>Foster Details</h3>
        <ul>
          <li><span>Foster Name: </span>{{dogDetails.dog.fosterName || 'N/A'}}</li>
          <li><span>Foster Phone: </span>{{dogDetails.dog.fosterPhone || 'N/A'}}</li>
          <li><span>Foster Email: </span>{{dogDetails.dog.fosterEmail || 'N/A'}}</li>
          <li><span>Foster Address: </span>{{dogDetails.dog.fosterAddress || 'N/A'}}</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="dog-details-extra">
        <h3>Additional Info</h3>
        <ul>
          <li><span>Fence Needed: </span>{{dogDetails.dog.animalFence || 'N/A'}}</li>
          <li><span>Grooming Needs: </span>{{dogDetails.dog.animalGroomingNeeds || 'N/A'}}</li>
          <li><span>House Trained: </span>{{dogDetails.dog.animalHouseTrained || 'N/A'}}</li>
          <li><span>Protective: </span>{{dogDetails.dog.animalProtective || 'N/A'}}</li>
          <li><span>Special Diet: </span>{{dogDetails.dog.animalSpecialDiet || 'N/A'}}</li>
          <li><span>Medial Treatment Needed: </span>{{dogDetails.dog.animalOngoingMedical || 'N/A'}}</li>
          <li ng-show="dogDetails.ownNotes"><span>Dog Summary: </span>{{dogDetails.dog.animalSummary || 'N/A'}}</li>
          <li ng-show="dogDetails.ownNotes"><span>Additional Notes: </span>{{dogDetails.dog.animalNotes || 'N/A'}}</li>
        </ul>
      </div>
    </div>
  </section>
  <button class="btn" ng-click="dogDetails.editDogDetails(dogDetails.dog.name)">Edit Dog</button>
</div>
