<h2>Find Dogs</h2>
<table>
  <tr ng-repeat="(id, dog) in dogList.dogs">
    <td><img class="shelter-dog-img" ng-src="{{dog.animalThumbnailUrl}}" alt="Dog needing foster"></td>
    <td>{{dog.animalName}}</td>
    <td>{{dog.animalBreed}}</td>
    <td>{{dog.shelterState}}</td>
    <td><a class="btn btn-primary" ng-href="/#/{{dogList.dogGroup}}/{{id}}">More Details</a><td>
    <td><button class="btn btn-primary" ng-click="dogList.addToNextList(id,dog)">Add To Potential Dogs</button></td>
    <tr>
    </table>
