<h2>{{show.dog.animalName}}'s Details</h2>
<ul>
  <li>{{show.dog.animalThumbnailUrl}}</li>
  <li>{{show.dog.animalBreed}}</li>
  <li>{{show.dog.animalSex}}</li>
  <li>{{show.dog.animalKillDate}}</li>
  <li>{{show.dog.shelterCity}}</li>
  <li>{{show.dog.shelterState}}</li>
  <li>{{show.dog.shelterName}}</li>
  <li>{{show.dog.shelterEmail}}</li>
  <li>{{show.dog.shelterPhone}}</li>
  <li>{{show.dog.shelterWebsite}}</li>
  <li>{{show.dog.Address}}</li>
  <li>{{show.dog.animal}}</li>
  <li>{{show.dog.animal}}</li>
</ul>
