<h2>Rescue Me</h2>
<section>
  <p>RescueMe was created to organize the world of dog rescue. Think of it as a database and action center of all the dogs that need to be saved.</p>
  <p>There are thousands of organizations around the country doing the great work of saving dogs from shelters and finding families for them to live a happy life. But they run independently and without a link to shelters and to other rescues.</p>
  <p>This creates an inefficiency that unfortunately leaves many dogs behind. That’s where RescueMe comes in. With RescueMe, anyone can search and find dogs in need of rescue from a shelter, take on foster dogs, and adopt. </p>
</section>
<section>
<h3>How It Works</h3>
<p>If you are a rescue organization, log in and create a profile.</p>
<ul>
  <li><span>Shelter Dogs - </span>Click here to see all the dogs currently in shelters around the country.</li>
  <li><span>Potential Dogs - </span>Here, you can select a dog from a shelter that you would like to add to your rescue.  This is a pending process, you will need to contact the shelter, arrange transport etc.</li>
  <li><span>Rescue Dogs - </span>After you selected dogs you want to take into your rescue, and the dog arrives, to keep the site current, make sure you move the dog from Potential to Rescue</li>
  <li><span>Snapshot - </span>This is a quick overview of your rescue, stats, dogs available and contact information.  You can direct potential fosters, donors, and the general public interested in adopting here. </li>
</ul>
</section>
