<nav class='nav-main'>
  <li>
    <a class="btn btn-primary" ng-show="user" href="/#/">About</a>
  </li>
  <li>
    <a class="btn btn-primary" ng-show="user" href="/#/snapshot">Snapshot</a>
  </li>
  <li>
    <a class="btn btn-primary" ng-show="user"href="/#/find-dogs">Find Shelter Dogs</a>
  </li>
  <li>
    <a class="btn btn-primary" ng-show="user" href="/#/potential-dogs">Potential Dogs</a>
  </li>
  <li>
    <a class="btn btn-primary" ng-show="user"href="/#/rescue-dogs">Rescue Dogs</a>
  </li>
  <li>
    <a class="btn btn-warning" ng-show="user" href="/#/logout">Logout</a>
  </li>
</nav>
