<nav class='nav-main' ng-controller="mainMenuController as menu">
  <li>
    <a class="btn btn-primary" ng-show="user && rescueName" href="/#">About</a>
  </li>
  <li>
  <a class="btn btn-primary" ng-show="user && rescueName" href="/#/{{$root.rescueName}}/snapshot">Snapshot</a>
  </li>
  <li>
  <a class="btn btn-primary" ng-show="user && rescueName"href="/#/{{$root.rescueName}}/find-dogs">Find Shelter Dogs</a>
  </li>
  <li>
  <a class="btn btn-primary" ng-show="user && rescueName" href="/#/{{$root.rescueName}}/potential-dogs">Potential Dogs</a>
  </li>
  <li>
  <a class="btn btn-primary" ng-show="user && rescueName"href="/#/{{$root.rescueName}}/rescue-dogs">Rescue Dogs</a>
  </li>
  <li>
  <a class="btn btn-warning" ng-show="user && rescueName" href="/#/{{$root.rescueName}}/logout">Logout</a>
  </li>
</nav>
